# Xamarin-specific files
bin/
obj/
*.userprefs
*.apk
*.ap_
*.aab
*.dylib
*.dll
*.exe
*.pdb
*.mdb
*.opendb
*.ilk
*.bak
.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
.vs/
_UpgradeReport_Files/
Backup/
UpgradeLog.XML
UpgradeLog.htm

# Windows Store projects
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
*.appx
*.appxbundle
*.appxupload

# Other files and folders
packages/
*.suo
*.user
*.userosscache
*.sln.ide
*.suo.ide
*.userprefs.ide
*.userosscache.ide
*.sln.docstates
ipch/
*.ilk
*.ncb
*.log
.log.
*.bak
*.cache
*.csproj.user
.ruleset
[Tt]est[Rr]esult/
[Bb]uild[Ll]og.*

# Exclude Xamarin test cloud files
test-cloud/
*.dsym
*.jar
*.keystore